*
{
    margin: 0;
    padding: 0;
}
body
{
    display: flex;
    flex-direction: column;
}
.menu-bar
{
    background: rgb(blue) ;
    font-family: sans-serif;
    text-align: right;
}
.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: black;
    text-align: left;
}
.menu-bar ul li
{
    width: 105px;
    margin: 5px;
    padding: 10px;
}
.menu-bar ul li a
{
    text-decoration: none;
    color:black;
    
}
.active, .menu-bar ul li:hover
{
    background-color:skyblue;
    border-radius: 3px;
    transition: 0.6s ease;
}
.menu-bar .fa
{
    margin-left: 5px;
}

.logo img{
    float: left;
    width: 150px;
    height: auto
}       
.header
{
    height: 100%;
}
.video-background
{
    position: absolute;
    right: 0;
    bottom: 0;
    min-height: 30%;
    min-width: 100%;
    height: auto;
    width: auto;
    z-index: -1;
}
.contact-info
{
    display: flex;
    widows: 100%;
    max-width: 1200px;
    position: absolute;
    top: 18%;
    left: 20%;
    justify-content: center;
    padding: 0 20px;
}
.card 
{
    background: black;
    padding: 0 20px;
    margin: 0 10px;
    width: calc(33%,-20px);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    cursor: pointer;
}
.card-icon
{
    font-size: 20px;
    background:red;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3s linear;
}
.card:hover .card-icon
{
    background: none;
    color: #ff6348;
    transform: scale(1.6),
}
.card p
{
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;
}
.card:hover p
{
    max-height: 40px;
    opacity: 1;
}
@media screen and (max-width:800px)
{
    .contact-info
    {
        flex-direction: column;
    }
    .card
    {
        width: 100%;
        max-width: 300px;
        margin: 10px 0;
    }
}
h1
{
    font-size: 40px;
    position: absolute;
    top: 8%;
    left: 40%;
    justify-content: center;
    font-family: 'Courgette', cursive;
    color: white;
    z-index: 2;
}
h2
{
     font-size: 40px;
    position: absolute;
    top: 110%;
    left: 45%;
    align-items: center;
    justify-content: center;
     font-family: 'Courgette', cursive;
    color: #e00824;
}
h2:before
{
    content: "";
    display: block;
    width: 250px;
    height: 2px;
    background: black;
    position: absolute;
    top: 50%;
    left: -220%;
}
h2:after
{
    content: "";
    display: block;
    width: 250px;
    height: 2px;
    background: black;
    position: absolute;
    top: 50%;
    right: -220%;
}
.people
{
    display: flex;
    width: 1080px;
    position: absolute;
    top: 135%;
    left: -16%;
    justify-content: center;
    padding: 0 10px;
}
.card2
{
    background: transparent;
    padding: 0 10px;
    margin: 0 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    align-items: center;
}
.card2
    {
        width: 30%;
        margin: 15px 0;
    }
.card2 h3
{
    margin-top: 5px;
    font-weight: 300;
    letter-spacing: 2px;
    justify-content: center;
    align-items: ;
     font-family: arial, monospace;
    color: black;
    left: 50%;
    font-size: 20px;
}
.card2 h4 
{
    font-size: 20px;
    color: #3acc32;
     font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
    letter-spacing: 1px;
}
.card2 p 
{
    font-size: 15px;
    color: black; 
}